* {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
a {
  color: aquamarine;
  font-size: 16px;
}
header {
  text-align: center;
}
h2 {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
footer p {
  text-align: right !important;
  color: gray;
}
